/* Plano de Fundo da Página */
  body {
    background-color: #2F4F4F;
  }

/* Estilos da Barra do Sistema */
  .navbar-default {
    background-color: #25c594;
    border-color: #008787;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .navbar-default .navbar-brand {
    color: #ecf1f0;
  }

  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
  }

  .navbar-default .navbar-text {
    color: #ecf1f0;
  }

  .navbar-default .navbar-nav > li > a {
    color: #ecf1f0;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #008787;
  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #008787;
  }

  .navbar-default .navbar-toggle {
    border-color: #008787;
  }

  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #008787;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf1f0;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ecf1f0;
  }

  .navbar-default .navbar-link {
    color: #ecf1f0;
  }

  .navbar-default .navbar-link:hover {
    color: #ffffff;
  }

  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #ecf1f0;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #008787;
    }
  }

/* Estilos das Tabelas do Sistema */
  .tg {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .tg td {
    font-size: 14px;
    padding: 10px 30px;
    overflow: hidden;
    word-break: normal;
  }

  .tg th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 30px;
    overflow: hidden;
    word-break: normal;
  }

  .tg .tg-yw4l {
    vertical-align: top;
    text-align: center;
  }

  .tg .titulos {
    text-align: center;
    font-weight: bold;
  }

  #rcorners1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background: #c7ecc1;
    padding: 20px;
  }

/* Estilos da Página de Login */
  .borda {
    margin-top: 30px;
  }

/* Estilos de Margem de Campos de Input */
  div.input-group {
    margin-bottom: 5px;
  }

/* Estilos de Mensagens de Alerta */
  #rcorners2 {
    border-radius: 5px;
    padding: 20px;
  }

/* Estilos da Busca de Exames e Prontuários */
  .buscar {
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 50px;
  }